*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #777;
}

/*Navbar Start*/

.container h1, a{
    text-transform:uppercase;
}
.container h1{
    font-weight: 700;
}
.nav-items a{
    font-size: 14px;
}
.nav-items,.social-icon{
    display: flex;
    gap: 20px;
}
/*Navbar End*/

/*Banner Start*/
.banner{
    background-image: url('./assets/banner-images/banner-image-1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    top: 80px;
    height: 100vh;
}
.banner-content{
    position: absolute;
    top: 16%;
    left: 7%;

}

.banner-text::before {
    content: '';
    width: 50px;
    height: 5px;
    background-color: blueviolet;
    position: absolute;
}
.banner-text::after {
    content: '';
    width: 50px;
    height: 5px;
    background-color: blueviolet;
    position: absolute;
   
}
.banner-text h1{
    font-size: 72px;
}
.banner-text p{
    width: 500px;
}
.banner-content button{
    border: 3px solid #000;
    padding: 10px 30px;
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
/*Banner End*/