.card{
  width: 400px;
  height: 400px;
  text-align: center;
  border: 1px solid lightgray;
}
.card img{
  width: 100%;
  height: 250px;
}
.card button{
  background-color: aquamarine;
  border: none;
  padding: 10px 30px;
}
.card button:hover{
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
}

*{
  list-style: none;
}
body{
  background-color: #F5F5F5;
}
/* 
swiper js custom style */

.mySwiper .swiper-button-next,.mySwiper .swiper-button-prev {
  color: #fff;
  background-color: #AD3B04 ;
  

  
}
.mySwiper .swiper-button-next::after,.mySwiper .swiper-button-prev::after {
  font-size: 20px;
  
}