.card{
  width: 400px;
  height: 400px;
  text-align: center;
  border: 1px solid lightgray;
}
.card img{
  width: 100%;
  height: 250px;
}
.card button{
  background-color: aquamarine;
  border: none;
  padding: 10px 30px;
}
.card button:hover{
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
}

*{
  list-style: none;
}
body{
  background-color: #F5F5F5;
}